* {
    box-sizing: border-box;
    margin: 4px;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-image: url(/img/Recurso\ 1.png);
    background-color: rgb(76, 111, 111);
}

.header {
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    backdrop-filter: blur(40px);
    position: fixed;
    z-index: 1;
    width: 98%;
    
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.header .nav-links li:hover {
    transform: scale(1.1);

}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}



.header .nav-links li a:hover {
    color: #000000;
    border-radius: 30px;
    opacity: 1;
}

.header .btn {
    order: 2;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    transform: scale(1.1);

}



.logo img {
    max-width: 100%;
    height: auto;
}

nav {
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    position: relative;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Línea horizontal debajo del enlace al pasar el mouse */
.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

/* Efecto de expansión de la línea al pasar el mouse */
.nav-links a:hover::after {
    width: 100%;
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}



label {
    color: #fff;
    margin-right: 5px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0px;
}

#search-container {
    text-align: right;
    margin-top: -5px;
    margin-right: 10px;
    
}



video {
    width: 1350px; /* ajusta el ancho según tus necesidades */
    height: 647px; /* ajusta la altura según tus necesidades */
    margin: -60px auto; /* centra el video en la página */
    display: flex;
    align-items: center;
}


h1{
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}









html, body {
	width: 100%;
	height: 100%;
}

.ocasiones{
	width: 1280px;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    
}
.ocasiones .box{
	position: relative;
	width: 400px;
	height: 400px;
	background: rgb(214, 82, 82);
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
}
.ocasiones .box .imgBox{
	position: relative;
	overflow: hidden;
}
.ocasiones .box .imgBox img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: center top;
	transition: 2s;
	transform: scale(1.2);
}
.ocasiones .box:hover .imgBox img{
	transform: scale(1);
}
.ocasiones .box .details{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: 1s;
	opacity: 0;
	filter: blur(10px);
	transform: scale(1.5);
    backdrop-filter: blur(10px);
}
.ocasiones .box:hover .details{
	opacity: 1;
	filter: blur(0px);
	transform: scale(1);
}
.ocasiones .box .details .content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
}
.ocasiones .box .details .content h2{
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #262626;
}
.ocasiones .box .details .content p{
	margin: 10px 0 0;
	padding: 0;
	line-height: 24px;
	color: #262626;
}
@media screen and (max-width: 1266px) {
	.ocasiones {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.ocasiones .box {
		display: block;
	}
}